# npm debugging logs
*.log
# project dependencies
node_modules
**/*/node_modules
# OSX folder attributes
.DS_Store
#temporary files
*.tmp
*~
# documentations
*.pdf
**/*/*.pdf
# AWS-S3
Wild/AWS/
# servers’ upload files
**/**/upload_*.json

# other peoples’ repo
**/**/aspect-js-repo/